.callout {
  background-color: $secondary-color;
  @include contentCenter;
  @include contentLeft;
  padding: 4rem 3rem;
  // @include contentLeft;
  background-image: url(/images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  margin: 0;
  @include desktopLarge {
    background-image: url(/images/bg-simplify-section-desktop.svg);
    background-position: 5rem -5rem;
  }
  &__heading {
    color: white;
    @include desktop {
      padding: 1rem;
      margin-left: 5rem;
    }
  }
  &__btn {
    align-self: center;
    justify-self: center;
    margin-top: 2rem;
    @include desktop {
      margin: 0;
    }
  }
}
