.features {
  @include contentCenter;
  @include contentLeft;

  padding: 1rem 0.5rem;
  &__body {
    p {
      margin-block: 1rem;
    }

    .container {
      background-color: #f9ded5;
      border-radius: 20px;
      display: flex;

      justify-content: space-between;
      padding-right: 1rem;
      @include desktop {
        background-color: transparent;
      }
    }
  }
}
