.hero {
  margin-top: 2rem;
  p {
    margin-block: 1rem;
  }

  &__content {
    @include contentCenter;
    @include desktop {
      text-align: left;
      grid-area: 1/1/1/2;
      margin: 3rem 0 0 3rem;
    }
    button {
      margin-top: 1.5rem;
    }
  }
}
