.hero {
  margin-top: 2rem;

  svg {
    transform: translateX(-50px) scale(0.8);
    @include tablette {
      transform: translateX(70px);
      zoom: 90%;
    }
    @include desktop {
      transform: none;
      zoom: 70%;
    }
    @include desktopLarge {
      transform: none;
      zoom: 100%;
    }
  }
  p {
    margin-block: 1rem;
  }

  &__content {
    @include contentCenter;
    @include desktop {
      text-align: left;
      grid-area: 1/1/1/2;
      align-self: center;
      margin-left: 3rem;
    }
    button {
      margin-top: 1.5rem;
    }
  }
}
