$primary-color: #252c56;
$secondary-color: hsl(12, 88%, 59%);
$color-text: hsl(227, 12%, 61%);
$Very-Dark-Blue: hsl(233, 12%, 13%);
$Very-Pale-Red: hsla(12, 100%, 96%, 0.801);
$Vary-Light-Gray: white;
$breaking-point: 833px;
$breaking-point3: 550px;
$breaking-point2: 1050px;
$font-weight: (
  "regular": 500,
  "medium": 600,
  "bold": 700,
  "bolder": 800,
);
// @mixin mobile {
//   @media (max-width: $breaking-point3) {
//     @content;
//   }
// }
@mixin tablette {
  @media (min-width: $breaking-point3) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $breaking-point) {
    @content;
  }
}

@mixin desktopLarge {
  @media (min-width: $breaking-point2) {
    @content;
  }
}
@mixin contentCenter {
  text-align: center;
}

@mixin contentLeft {
  text-align: left;
}
@mixin largeWidth {
  width: 100%;
}
h1 {
  color: $Vary-Light-Gray;
}
