$primary-color: #252c56;
$secondary-color: hsl(12, 88%, 59%);
$color-text: hsl(227, 12%, 61%);
$Very-Dark-Blue: hsl(233, 12%, 13%);
$Very-Pale-Red: hsl(13, 100%, 96%);
$Vary-Light-Gray: hsl(0, 76%, 81%);
$breaking-point: 768px;
$breaking-point2: 950px;
$font-weight: (
  "regular": 500,
  "medium": 600,
  "bold": 700,
  "bolder": 800,
);
@mixin desktop {
  @media (min-width: $breaking-point) {
    @content;
  }
}
@mixin desktopLarge {
  @media (min-width: $breaking-point2) {
    @content;
  }
}
h1 {
  color: $Vary-Light-Gray;
}
