<div class="features grid grid--cols-2">
  <div class="features__header">
    <h2 class="features__heading">
      What's the different about <br> Manage ?
    </h2>
    <p class="features__text">
      Manage provides all the functionality your team needs, without 
the complexity. Our software is tailor-made for modern digital 
product teams. 
    </p>
  </div>
  <div class="features__body">
    <article>
      <div class="container">
        <div class=" container__number"><span>01</span></div>
        <h3> Track Company-wide progress</h3>
      </div>
      <p>See how your day-to-day tasks fit into the wider vision. Go from 
        tracking progress at the milestone level all the way done to the 
        smallest of details. Never lose sight of the bigger picture again.</p>
    </article>
    <article>
      <div class="container">
        <div class=" container__number"><span>02</span></div>
        <h3> Track Company-wide progress</h3>
      </div>
      <p>See how your day-to-day tasks fit into the wider vision. Go from 
        tracking progress at the milestone level all the way done to the 
        smallest of details. Never lose sight of the bigger picture again.</p>
    </article>
    <article>
      <div class="container">
        <div class=" container__number"><span>03</span></div>
        <h3> Track Company-wide progress</h3>
      </div>
      <p>See how your day-to-day tasks fit into the wider vision. Go from 
        tracking progress at the milestone level all the way done to the 
        smallest of details. Never lose sight of the bigger picture again.</p>
    </article> 